*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 18px;
}
body{
    background-color: rgb(15, 8, 63);
    color: white;
    height: 100vh;
    width: 100vw;
}
footer{
    margin: 20px 20px;
}
.light{
    letter-spacing: 5px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(12, 52, 85);
    margin: 10px 15px;
    border-radius: 10px;
    

}
.form-search{
    padding: 15px;
}

.fas.fa-search{
    color: rgb(41, 100, 228);
    font-size: 1.2rem;
    
}
.input-search{
    all: unset;
    font-size: 0.82rem;
}

.btn-search{
    background-color:rgb(41, 100, 228) ;
    border: none;
    color: white;
    margin: 5px;
    border-radius: 10px;
    width: 60px;
}
.btn-search :hover{
    cursor: pointer;
}
.avatar{
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.card-container{
    margin: 15px 20px;
    background-color: rgb(12, 52, 85);
    border-radius: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
}
.user-title{
    letter-spacing: 2px;
}
.user-nickname{
    color: rgb(41, 100, 228);
}
.description{
    margin: 15px 5px;
    height: auto;
    
   
}
.bio{
    text-align: center;
   font-size: 0.71rem;
   font-weight: bold;
}
.stats{
    background-color: rgb(15, 8, 63);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 20px 10px;
    border-radius: 10px;
    text-align: center;
}


.stats p{
    color: rgb(200, 199, 199);
}
.contact{
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.contact i{
margin: 0px 5px;
}
.link-github{
    text-decoration: none;
    color: white;
}

