*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 18px;
}
body{
    background-color: rgb(15, 8, 63);
    color: white;
    height: 100vh;
    width: 100vw;
}
footer{
    margin: 20px 20px;
}
.light{
    letter-spacing: 5px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(12, 52, 85);
    margin: 10px 15px;
    border-radius: 10px;
    height: auto;

}
.form-search{
    padding: 15px;
}

.fas.fa-search{
    color: rgb(41, 100, 228);
   
}
.input-search{
    all: unset;
    font-size: 0.82rem;
}

.btn-search{
    background-color:rgb(41, 100, 228) ;
    border: none;
    color: white;
    margin: 5px;
    border-radius: 10px;
    width: 60px;
}
.btn-search :hover{
    cursor: pointer;
}
.avatar{
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.card-container{
    margin: 15px 20px;
    background-color: rgb(12, 52, 85);
    border-radius: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;
}
.user-title{
    letter-spacing: 2px;
}
.user-nickname{
    color: rgb(41, 100, 228);
}
.description{
    margin: 15px 5px;
    height: auto;
    
   
}   
.bio{
    text-align: center;
   font-size: 0.71rem;
   font-weight: bold;
}
.stats{
    background-color: rgb(15, 8, 63);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 20px 10px;
    border-radius: 10px;
    text-align: center;
}


.stats p{
    color: rgb(200, 199, 199);
}
.contact{
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.contact i{
margin: 0px 5px;
}
.link-github{
    text-decoration: none;
    color: white;
}
@media screen and (min-width:520px) {
    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 20px;
        gap: 10px;
        font-size: 0.9rem;
    }
    .bio{
        font-size: 1rem;
    }
    .input-search{
        font-size: 1rem;
    }
    .stats{
        margin: 20px 25px;
    }
}
@media screen and (min-width:1200px) {
   .card-container{
       margin: 0px 260px;
       display: grid;
       grid-template-columns: 0.7fr 1fr 1fr;
   }
   .nav-container{
       margin: 30px 250px 10px 250px;
   }
    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px 20px;
        gap: 10px;
        font-size: 0.95rem;
        grid-column: 2/4;
    }
    .bio{
        font-size: 1rem;
        text-align: start;
        margin-left: 15px;
        
    }
    .input-search{
        font-size: 1rem;
    }
    .stats{
        margin: 5px 80px 20px 15px;
        grid-column: 2/4;
        
    }
    .info{
        display: grid;
        grid-column: 1/4;
        grid-template-columns: 0.8fr 1fr 1fr;
    }
    .img{
        justify-self: center;
        align-self: center;
        grid-column: 1/2;
       grid-row: 1/4;
    }
    .joined-container{
        grid-row: 1;
        margin-top: 20px;
        grid-column: 3/4;
    }
    .user-title{
        font-size: 1.3rem;
        margin-top: 20px;
    }
    .user-nickname{
        font-size: 1.1rem;
    }
    .joined-date{
        font-size: 1rem;
        color: rgb(175, 175, 175);
        grid-column: 3/4;
        grid-row: 1;
    }
    .info-user{
        display: grid;
        
        grid-column: 2/4;
    }
    .user-nickname{
        grid-column: 1;
    }
   .description{
       grid-column: 2/4;
       margin: -15px 5px 10px 5px;
   }
   
   .avatar{
       width: 100px;
       height: 100px;
       
   }
   footer{
    margin: 20px 280px 10px 260px;
   }
   .stats span{
       font-size: 1.2rem;
       font-weight: bold;
   }
   
}
